<!DOCKTYPE html>

{# django template tag#}
{#static 파일 전체를 로드#}
{% load static %}

<html lang="ko">
<head>
    <title>My Little Lotto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
{#    static 명령어는 특정한 static 파일에 url을 자동으로 만들어서 넣어줌#}
{#    아래에 있는 'css/lotto.css 는 지금 있는 위치가 아니라 나중에 collectstatic 을 실행해서 생기는 위치를 의미함#}
    <link rel='stylesheet' href="{%  static 'css/lotto.css' %}">
</head>

<body>
    <div class="page-header">
        <h1>Selected Lotto Numbers</h1>
{#        url reversing url.py 에 있는 별명 name을 가지고 해줌#}
        <a href="{% url 'new_lotto' %}">
            <span class="glyphicon glyphicon-plus btn btn-default"></span>
        </a>

    </div>
    <div class="container lotto">
{#        key 값을 {{ 여기에 적어줌 }}#}
        {% for lotto in lottos %}
            <h2><a href="{% url 'detail' lottokey=lotto.id %}">{{ lotto.text }}</a></h2>
            <p>{{ lotto.updated_date }}</p>
            <p>{{  lotto.lottos | linebreaksbr }}</p>
        {% endfor %}
    </div>
</body>
</html>